{% extends 'base.html' %}

{% block content %}
<style>
  .button {
      padding: 5px 30px;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      color: white;
      font-size: 10px;
  }
</style>

<main id="main" class="main">
  <div class="pagetitle">
      <div class="col-3">
          <a href="{% url 'ajouter_commande' %}">
              <button class="btn btn-primary w-100">Ajouter Commande</button>
          </a>
      </div>
  </div>

  <section class="section">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Commandes aux Fournisseurs</h5>

                      {% if messages %}
                      <div class="alert alert-dismissible fade show">
                          {% for message in messages %}
                              <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                                  {{ message }}
                              </div>
                          {% endfor %}
                      </div>
                      {% endif %}

                      <table class="table datatable">
                          <thead>
                              <tr>
                                  <th>Nom du Médicament</th>
                                  <th>Quantité</th>
                                  <th>Fournisseur</th>
                                  <th>Date de Commande</th>
                                  <th scope="col"  colspan="2" class="text-center">Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for commande in commandes %}
                              <tr>
                                  <td>{{ commande.medicament.nom }}</td>
                                  <td>{{ commande.quantite }}</td>
                                  <td>{{ commande.fournisseur }}</td>
                                  <td>{{ commande.date_commande }}</td>
                                  <td>
                                      <a href="{% url 'modifier_commande' commande.id %}" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i>
                                      </a>
                                      <a href="{% url 'supprimer_commande' commande.id %}" class="btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                      </a>
                                  </td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
{% endblock %}