<ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="bi bi-grid"></i>
            <span>Tableau de bord</span>
        </a>
    </li>
  
    <li class="nav-item">
        <a class="nav-link" href="{% url 'produit' %}">
            <i class="bi bi-capsule"></i>
            <span>Médicaments</span>
        </a>
    </li>
  
    <li class="nav-item">
        <a class="nav-link" href="{% url 'ventes' %}">
            <i class="bi bi-cart"></i>
            <span>Ventes</span>
        </a>
    </li>
  
    <!-- Nouveau menu Fournisseurs -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'fournisseurs' %}">
            <i class="bi bi-people"></i>
            <span>Fournisseurs</span>
        </a>
    </li>
  
    <li class="nav-item">
        <a class="nav-link" href="{% url 'commandes' %}">
            <i class="bi bi-truck"></i>
            <span>Commandes Fournisseurs</span>
        </a>
    </li>
  </ul>
  